.closing-button {
	width: 30px;
	height: 30px;

	padding: 3px;
	border-radius: 3px;

	cursor: pointer;

	background: white;
	border: 0;
}

.closing-button:hover {
	background: #eee;
}

.closing-button:active {
	background: #ccc;
}

.closing-button:focus {
	outline: 0;
}

.line-1,
.line-2 {
	width: 100%;
	background-color: #555;
	height: 3px;
	border-radius: 15px;
}

.line-1 {
	transform: rotate(45deg) translateY(1px) translateX(1.5px);
}

.line-2 {
	transform: rotate(-45deg) translateY(-1px) translateX(1px);
}
