.journal-entry-card {
	border: 1px solid #ccc;
	border-radius: 10px;

	margin: 10px auto;
	padding: 17px;
	clear: both;
}

.journal-entry-card p {
	word-break: break-word;
}

.journal-entry-card button {
	float: right;

	margin: 4px;
	height: 30px;
	width: 80px;

	background: white;

	border: 1px solid #444;
	border-radius: 5px;
}

.edit-button:hover {
	background-color: rgb(133, 255, 133);
	box-shadow: 0px 0px 0px 1px rgb(65, 192, 65);
}

.delete-button:hover {
	background-color: rgb(245, 135, 122);
	box-shadow: 0px 0px 0px 1px rgb(231, 84, 84);
}
