.backdrop {
	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.2);

	position: absolute;

	top: 0;
	left: 0;
}

.modal {
	width: calc(100% - 20px);

	max-width: 400px;

	height: auto;

	border: 1px solid #aaa;
	border-radius: 10px;

	background: white;

	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

	position: fixed;

	z-index: 2000;

	left: 50%;
	top: 50%;

	/* These 50% statements do not refer to the same amount of % */

	transform: translateX(-50%) translateY(-50%);
}

.modal-header,
.modal-footer,
.modal-body {
	padding: 15px;
}

.modal-header {
	height: 60px;

	display: flex;
	align-items: center;

	border-bottom: 1px solid #ccc;
}

.modal-header h3 {
	width: 100%;
	margin: 0;
}

.modal-footer {
	text-align: right;

	border-top: 1px solid #ccc;
}
