/* Provide sufficient contrast against white background */
a {
	color: rgb(50, 154, 196);
}

a:hover {
	color: rgb(33, 123, 158);
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

button:focus,
input:focus,
textarea:focus {
	outline: 0;
}

input:focus,
textarea:focus {
	box-shadow: 0px 0px 0px 2px skyblue;
}

input,
textarea {
	border: 1px solid #ccc;
	min-height: 30px;
	border-radius: 5px;
	padding: 8px;
}

textarea {
	height: 100px;
}
