.create-new-entry-button {
	float: right;

	height: 40px;
	width: 150px;
	margin: 15px;

	/* background: white; */
	background-color: rgb(92, 196, 236);

	border: 1px solid #ccc;
	border-radius: 5px;

	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.create-new-entry-button:hover {
	background-color: rgb(56, 163, 206);
}

.create-new-entry-button:active {
	background-color: rgb(51, 151, 190);

	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}
