.title {
	font-size: 40px;
	color: rgb(50, 154, 196);
}

.subtitle {
	font-size: 25px;
}

.single-page-edit-btn,
.single-page-delete-btn {
	width: 100%;
	margin: 5px auto;

	background: white;

	border: 1px solid #444;
	border-radius: 2px;

	height: 30px;
}

.single-journal-entry {
	max-width: 400px;
	margin: 0 auto;
}
